* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arimo', sans-serif;
    background-image: linear-gradient(75deg, #aadedf, #1983da);
    height: 100vh;
    width: 100vw;
}
header {
    /* background-image: linear-gradient(75deg, #aadedf, #1983da); */
    margin: 0 auto;
    height: 20vh;
    font-size: 1.7rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#note-input{
    width: 60%;
    padding: 0.52rem;
    resize: none;
    outline: none;
    border: none;
    font-family: 'Arimo', sans-serif;
}
.note-container {
    display: flex;
    margin: 0 200px;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.note-form {
    width: 70%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.note-item {
    min-width: 300px;
    position: relative;
    border-radius: 2%;
    margin: 10px;
    cursor: default;
    padding: 20px;
    box-shadow: 5px 5px  20px rgba(0, 0, 0, 0.2) ;
    min-height: 200px;
    background-color: #aadedf;
    color: #000;
    transition: all 0.3s ease;
}
.note-item:hover {
    background-color: #1983da;
    color: #fff;
}
.note-item-btn{
    border: none;
}
.note-item-btn{
    position: absolute;
    right: 4%;;
    bottom: 4%;
    background-color:#1983da;
    color: #fff;
    padding: 0.2rem;
    cursor: pointer;
    border: 2px solid #1983da;
    border-radius: 10%;
}
.note-item-btn:hover {
    border: 2px solid #fff;
    border-radius: 10%;
}
.modal {
    width: 100vw;
    position: absolute;
    display: flex;
    top: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}
.noteInfo {
    background-color: #1983da;
    width: 700px;
    position: relative;
    height: 300px;
    padding: 0.8rem;
    border-radius: 2%;
    cursor: default;
}
div > button {
    position: absolute;
    padding: 15px;
    font-family: "Arimo", sans-serif;
    font-size: 20px;
    right: 2%;
    cursor: pointer;
    bottom: 2%;
}
.d-none {
    display: none;
}
.noteText{
    cursor: default;
}
