* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: skyblue;
    font-family: 'Azeret Mono', monospace;
}

.container-calc {
    border-radius: 10px;
    background-color: #666;
    margin: 5%;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(100px, 1fr) repeat(4, 80px);
    grid-gap: 10px;
}

.display-element {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    justify-content: center;
    text-align: right;
    padding: 5px;
    border-radius: 10px;
    grid-column: 1/5;
    background-color: #80ddba;
    font-size: 32px;
}

.result {
    background-color: #dd9;
}

.font {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Azeret Mono', monospace;
}

.font:hover {
    cursor: pointer;
    background-color: #ddd;
}
